---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/accounts/0/accountperms?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:account_permission
        xmlns:ns2="http://collectionspace.org/services/authorization"><account><accountId>f00e1c89-8874-471c-90e7-9a4a5fd93ae6</accountId><screenName>Administrator</screenName><userId>admin@core.collectionspace.org</userId><tenantId>1</tenantId></account><permission><permRelationshipId>14323</permRelationshipId><permissionId>1-_movements_*_workflow_lock-CRUDL</permissionId><resourceName>/movements/*/workflow/lock</resourceName><actionGroup>CRUDL</actionGroup></permission><permission><permRelationshipId>17760</permRelationshipId><permissionId>1-_deaccessions_*_workflow_delete-CRUDL</permissionId><resourceName>/deaccessions/*/workflow/delete</resourceName><actionGroup>CRUDL</actionGroup></permission><permission><permRelationshipId>13441</permRelationshipId><permissionId>1-_vocabularies_*_workflow_undelete-CRUDL</permissionId><resourceName>/vocabularies/*/workflow/undelete</resourceName><actionGroup>CRUDL</actionGroup></permission><p[...]
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>24</itemsInPage><totalItems>24</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>3bcf1427-d400-4f74-a4b6</csid><uri>/collectionobjects/3bcf1427-d400-4f74-a4b6</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(3bcf1427-d400-4f74-a4b6)'CLIENT.001'</refName><updatedAt>2025-01-21T16:29:49.520Z</updatedAt><workflowState>project</workflowState><objectNumber>CLIENT.001</objectNumber></list-item><list-item><csid>361e1935-b9fa-4a7b-9002</csid><uri>/collectionobjects/361e1935-b9fa-4a7b-9002</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(361e1935-b9fa-4a7b-9002)'2023.1.24'</refName><updatedAt>2025-01-17T13:11:51.930Z</updatedAt><workflowState>project</workflowState><objectNumber>2023.1.24</objectNumber><objectName>test</objectName><title>title</title></list-item><list-item><csid>406a428c-e48c-4470-98aa</csid><uri>/collectionobjects/406a428c-e48c-4470-98aa</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(406a428c-e48c-4470-98aa)'2023.1.23'</refName><updatedAt>2025-01-17T13:00:13.170Z</updatedAt><workflowState>project</workflowState><objectNumber>2023.1.23</objectNumber></list-item><list-item><csid>b3e61704-1332-44db-b5e9</csid><uri>/collectionobjects/b3e61704-1332-44db-b5e9</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(b3e61704-1332-44db-b5e9)'2023.1.22'</refName><updatedAt>2025-01-16T20:02:00.104Z</updatedAt><workflowState>project</workflowState><objectNumber>2023.1.22</objectNumber></list-item><list-item><csid>f5d15f70-5df8-4e23-a100</csid><uri>/collectionobjects/f5d15f70-5df8-4e23-a100</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(f5d15f70-5df8-4e23-a100)'LI2024.1.3'</refName><updatedAt>2025-01-16T12:51:25.488Z</updatedAt><workflowState>project</workflowState><objectNumber>LI2024.1.3</objectNumber></list-item><list-item><csid>c69590bf-316e-4530-91c7</csid><uri>/collectionobjects/c69590bf-316e-4530-91c7</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(c69590bf-316e-4530-91c7)'2023.1.8'</refName><updatedAt>2025-01-05T15:54:49.577Z</updatedAt><workflowState>project</workflowState><objectNumber>2023.1.8</objectNumber><objectName>Uncontrolled
        Object Name</objectName><title>Test Title</title><responsibleDepartment>antiquities</responsibleDepartment></list-item><list-item><csid>12645a2e-a49a-490f-9f06</csid><uri>/collectionobjects/12645a2e-a49a-490f-9f06</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(12645a2e-a49a-490f-9f06)'2023.1.7'</refName><updatedAt>2024-12-17T19:16:54.352Z</updatedAt><workflowState>project</workflowState><objectNumber>2023.1.7</objectNumber><title>Shiny
        Bauble</title></list-item><list-item><csid>b039865f-1997-428c-8adc</csid><uri>/collectionobjects/b03[...]
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?pgNum=0&pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>24</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>3bcf1427-d400-4f74-a4b6</csid><uri>/collectionobjects/3bcf1427-d400-4f74-a4b6</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(3bcf1427-d400-4f74-a4b6)'CLIENT.001'</refName><updatedAt>2025-01-21T16:29:49.520Z</updatedAt><workflowState>project</workflowState><objectNumber>CLIENT.001</objectNumber></list-item></ns2:abstract-common-list>
  recorded_at: Tue, 21 Jan 2025 17:45:08 GMT
[...]
