---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/vocabularies?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>25</itemsInPage><totalItems>177</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|shortIdentifier|sas|displayName|vocabType</fieldsReturned><list-item><csid>b5d7a52a-6bf3-407e-b719</csid><uri>/vocabularies/b5d7a52a-6bf3-407e-b719</uri><refName>urn:cspace:core.collectionspace.org:vocabularies:name(apparelsizes)'Apparel
        sizes'</refName><updatedAt>2025-03-04T19:46:23.970Z</updatedAt><workflowState>project</workflowState><rev>40</rev><shortIdentifier>apparelsizes</shortIdentifier><displayName>Apparel
        sizes</displayName><vocabType>enum</vocabType></list-item><list-item><csid>f7e65a10-d4ab-44de-90aa</csid><uri>/vocabularies/f7e65a10-d4ab-44de-90aa</uri><refName>urn:cspace:core.collectionspace.org:vocabularies:name(descriptionlevel)'Description
        level'</refName><updatedAt>2025-03-04T19:46:24.753Z</updatedAt><workflowState>project</workflowState><rev>4</rev><shortIdentifier>descriptionlevel</shortIdentifier><displayName>Description
        level</displayName><vocabType>enum</vocabType></list-item><list-item><csid>b8b3[...]
- request:
    method: post
    uri: https://core.dev.collectionspace.org/cspace-services/vocabularies/b5d7a52a-6bf3-407e-b719/items?pgSz=25&wf_deleted=false
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8" standalone="yes"?>
        <document name="vocabularyitems">
            <ns2:vocabularyitems_common
               xmlns:ns2="http://collectionspace.org/services/vocabulary"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
               <shortIdentifier>TERMID</shortIdentifier>
               <displayName>TERM</displayName>
            </ns2:vocabularyitems_common>
        </document>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - https://core.dev.collectionspace.org/cspace-services/vocabularies/b5d7a52a-6bf3-407e-b719/items/d8247f03-c0ce-4fc0-b4fd
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 04 Sep 2025 23:30:51 GMT
- request:
    method: put
    uri: https://core.dev.collectionspace.org/cspace-services/vocabularies/b5d7a52a-6bf3-407e-b719/items/d8247f03-c0ce-4fc0-b4fd?pgSz=25&wf_deleted=false
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8" standalone="yes"?>
        <document name="vocabularyitems">
            <ns2:vocabularyitems_common
               xmlns:ns2="http://collectionspace.org/services/vocabulary"
               xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
               <shortIdentifier>TERMID</shortIdentifier>
               <displayName>TERM</displayName>
               <description>Term description</description>
            </ns2:vocabularyitems_common>
        </document>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="vocabularyitems"><ns2:collectionspace_core xmlns:ns2="http://collectionspace.org/collectionspace_core/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><createdAt>2025-09-04T23:30:51.926Z</createdAt><updatedBy>admin@core.collectionspace.org</updatedBy><createdBy>admin@core.collectionspace.org</createdBy><workflowState>project</workflowState><tenantId>1</tenantId><refName>urn:cspace:core.collectionspace.org:vocabularies:name(apparelsizes):item:name(TERMID)'TERM'</refName><uri>/vocabularies/b5d7a52a-6bf3-407e-b719/items/d8247f03-c0ce-4fc0-b4fd</uri><updatedAt>2025-09-04T23:30:52.304Z</updatedAt></ns2:collectionspace_core><ns2:vocabularyitems_common xmlns:ns2="http://collectionspace.org/services/vocabulary" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><rev>1</rev><sas>false</sas><csid>d8247f03-c0ce-4fc0-b4fd</csid><displayName>TERM</displayName><description>Term description</description><shortIdentifier>TERMID</shortIdentifier><proposed>true</proposed><refName>urn:cspace:core.collectionspace.org:vocabularies:name(apparelsizes):item:name(TERMID)'TERM'</refName><inAuthority>b5d7a52a-6bf3-407e-b719</inAuthority></ns2:vocabularyitems_common></document>
  recorded_at: Thu, 04 Sep 2025 23:30:52 GMT
- request:
    method: delete
    uri: https://core.dev.collectionspace.org/cspace-services/vocabularies/b5d7a52a-6bf3-407e-b719/items/d8247f03-c0ce-4fc0-b4fd?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 04 Sep 2025 23:30:52 GMT
recorded_with: VCR 6.3.1
