---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>6</itemsInPage><totalItems>6</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>c9662b4c-79ba-47d0-aa64</csid><uri>/collectionobjects/c9662b4c-79ba-47d0-aa64</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(c9662b4c-79ba-47d0-aa64)'DTS.6'</refName><updatedAt>2019-11-25T16:11:24.159Z</updatedAt><workflowState>project</workflowState><objectNumber>DTS.6</objectNumber></list-item><list-item><csid>89ff952d-9c9f-4b70-8809</csid><uri>/collectionobjects/89ff952d-9c9f-4b70-8809</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(89ff952d-9c9f-4b70-8809)'DTS.5'</refName><updatedAt>2019-11-25T16:11:10.417Z</updatedAt><workflowState>project</workflowState><objectNumber>DTS.5</objectNumber></list-item><list-item><csid>4839d856-704e-4a53-bd2c</csid><uri>/collectionobjects/4839d856-704e-4a53-bd2c</uri><refName>urn:cspace:core.colle[...]
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?pgSz=1&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>1</pageSize><itemsInPage>1</itemsInPage><totalItems>6</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>c9662b4c-79ba-47d0-aa64</csid><uri>/collectionobjects/c9662b4c-79ba-47d0-aa64</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(c9662b4c-79ba-47d0-aa64)'DTS.6'</refName><updatedAt>2019-11-25T16:11:24.159Z</updatedAt><workflowState>project</workflowState><objectNumber>DTS.6</objectNumber></list-item></ns2:abstract-common-list>
  recorded_at: Mon, 25 Nov 2019 16:24:06 GMT
recorded_with: VCR 3.0.3
