---
http_interactions:
- request:
    method: post
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?pgSz=25&wf_deleted=false
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="collectionobjects">
          <ns2:collectionobjects_common xmlns:ns2="http://collectionspace.org/services/collectionobject" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <objectNumber>CLIENT.001</objectNumber>
            <numberOfObjects>1</numberOfObjects>
          </ns2:collectionobjects_common>
        </document>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 201
      message: ''
    headers:
      Location:
      - http://core.dev.collectionspace.org/cspace-services/collectionobjects/965176e0-41bd-42ba-a55f
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 02 Sep 2021 14:35:08 GMT
recorded_with: VCR 6.0.0
