---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?as=collectionobjects_common:objectNumber%20=%20%27CLIENT.002%27&pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>b45563b9-ca9f-47e0-9c01</csid><uri>/collectionobjects/b45563b9-ca9f-47e0-9c01</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(b45563b9-ca9f-47e0-9c01)'CLIENT.002'</refName><updatedAt>2019-11-25T22:53:26.033Z</updatedAt><workflowState>project</workflowState><objectNumber>CLIENT.002</objectNumber></list-item></ns2:abstract-common-list>
  recorded_at: Mon, 25 Nov 2019 22:58:44 GMT
recorded_with: VCR 3.0.3
