---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects/b45563b9-ca9f-47e0-9c01?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="collectionobjects"><ns2:collectionspace_core xmlns:ns2="http://collectionspace.org/collectionspace_core/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><createdAt>2019-11-25T22:43:02.644Z</createdAt><updatedBy>admin@core.collectionspace.org</updatedBy><createdBy>admin@core.collectionspace.org</createdBy><workflowState>project</workflowState><tenantId>1</tenantId><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(b45563b9-ca9f-47e0-9c01)'CLIENT.001'</refName><uri>/collectionobjects/b45563b9-ca9f-47e0-9c01</uri><updatedAt>2019-11-25T22:43:02.644Z</updatedAt></ns2:collectionspace_core><ns2:collectionobjects_common xmlns:ns2="http://collectionspace.org/services/collectionobject" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><fieldCollectionDateGroup><scalarValuesComputed/><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></fieldCollectionDateGroup><owners/><fieldCollectionMethods/><contentActivities/><objectProductionDateGroupList/><contentConcepts/><assocEventPlaces/><assocActivityGroupList/><objectProductionReasons/><assocPlaceGroupList/><objectNameList/><styles/><materialGroupList/><assocObjectGroupList/><fieldCollectors/><responsibleDepartments/><textualInscriptionGroupList/><objectNumber>CLIENT.001</objectNumber><fieldColEventNames/><colors/><contentScripts/><objectProductionPlaceGroupList/><referenceGroupList/><assocDateGroupList/><briefDescriptions/><contentLanguages/><numberOfObjects>1</numberOfObjects><assocPersonGroupList/><titleGroupList/><assocConceptGroupList/><usageGroupList/><assocCulturalContextGroupList/><otherNumberList/><objectProductionPeopleGroupList/><assocPeopleGroupList/><assocEventOrganizations/><contentPeoples/><measuredPartGroupList/><contentObjectGroupList/><ownershipDateGroupList/><technicalAttributeGroupList/><nonTextualInscriptionGroupList/><assocEventPersons/><objectProductionPersonGroupList/><contentPersons/><fieldCollectionSources/><contentEventNameGroupList/><ownersReferences/><viewersReferences/><objectProductionOrganizationGroupList/><publishToList/><assocOrganizationGroupList/><contentOrganizations/><contentPlaces/><contentOtherGroupList/><contentDateGroup><scalarValuesComputed/><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></contentDateGroup><objectStatusList/><objectComponentGroupList/><comments/><assocEventPeoples/><techniqueGroupList/><inventoryStatusList/><contentPositions/><forms/></ns2:collectionobjects_common><ns2:account_permission xmlns:ns2="http://collectionspace.org/services/authorization"><account><accountId>7968b9e7-805a-4b96-8340-cc1d0c1edc20</accountId><screenName>Administrator</screenName><userId>admin@core.collectionspace.org</userId><tenantId>1</tenantId></account></ns2:account_permission></document>
  recorded_at: Mon, 25 Nov 2019 22:45:08 GMT
recorded_with: VCR 3.0.3
