---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>25</itemsInPage><totalItems>1320</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|objectNumber|objectName|title|responsibleDepartment</fieldsReturned><list-item><csid>67e88be5-a498-4922-a90c</csid><uri>/collectionobjects/67e88be5-a498-4922-a90c</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(67e88be5-a498-4922-a90c)'CLIENT.002'</refName><updatedAt>2021-09-02T14:33:08.860Z</updatedAt><workflowState>project</workflowState><objectNumber>CLIENT.002</objectNumber></list-item><list-item><csid>428bd5a8-9a58-4671-be40</csid><uri>/collectionobjects/428bd5a8-9a58-4671-be40</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(428bd5a8-9a58-4671-be40)'CLIENT.001'</refName><updatedAt>2021-09-02T14:32:34.460Z</updatedAt><workflowState>project</workflowState><objectNumber>CLIENT.001</objectNumber></list-item><list-item><csid>95c1b35d-c4d8-4e4e-ac51</csid><uri>/collectionobjects/95c1b35d-c4d8-4e4e-ac51</uri><refName>urn:cs[...]
