---
http_interactions:
- request:
    method: get
    uri: http://demo.collectionspace.org:8180/cspace-services/collectionobjects?pgSz=50&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>50</pageSize><itemsInPage>6</itemsInPage><totalItems>6</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|title|objectNumber|objectName|responsibleDepartment</fieldsReturned><list-item><csid>9c894361-7845-4290-8e45</csid><uri>/collectionobjects/9c894361-7845-4290-8e45</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(9c894361-7845-4290-8e45)'2015.1.4'</refName><updatedAt>2015-12-19T23:51:09.089Z</updatedAt><workflowState>project</workflowState><title>Star
        Wars</title><objectNumber>2015.1.4</objectNumber></list-item><list-item><csid>0e347e6e-42c7-4243-9b1e</csid><uri>/collectionobjects/0e347e6e-42c7-4243-9b1e</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(0e347e6e-42c7-4243-9b1e)'IN2015.9'</refName><updatedAt>2015-12-18T17:23:54.616Z</updatedAt><workflowState>project</workflowState><title>Blue
        Monday</title><objectNumber>IN2015.9</objectNumber><responsibleDepartment>prints-drawings</responsibleDepartment></list-item><list-item><csid>e0861c39-cb38-482f-a6a1</csid><uri>/collectionobjects/e0861c39-cb38-482f-a6a1</uri><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(e0861c39-cb38-482f-a6a1)'IN2015.1'</refName><updatedAt>2015-12-17T21:23:37.889Z</updatedAt><workflowState>project</workflowState><title>Bird
        Vase</title><objectNumber>IN2015.1</objectNumber></list-item><list-item><csid>08cecf74-c2bf-42dd-b65c</csid><uri>/collectionobjects/08[...]
[...]
- request:
    method: get
    uri: http://demo.collectionspace.org:8180/cspace-services/collectionobjects?pgNum=0&pgSz=50&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/serv[...]
