---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/collectionobjects/67e88be5-a498-4922-a90c?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="collectionobjects"><ns2:collectionspace_core xmlns:ns2="http://collectionspace.org/collectionspace_core/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><createdAt>2021-09-02T14:32:20.129Z</createdAt><updatedBy>admin@core.collectionspace.org</updatedBy><createdBy>admin@core.collectionspace.org</createdBy><workflowState>project</workflowState><tenantId>1</tenantId><refName>urn:cspace:core.collectionspace.org:collectionobjects:id(67e88be5-a498-4922-a90c)'CLIENT.002'</refName><uri>/collectionobjects/67e88be5-a498-4922-a90c</uri><updatedAt>2021-09-02T14:33:08.860Z</updatedAt></ns2:collectionspace_core><ns2:collectionobjects_common xmlns:ns2="http://collectionspace.org/services/collectionobject" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><fieldCollectionDateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></fieldCollectionDateGroup><owners/><fieldCollectionMethods/><contentActivities/><objectProductionDateGroupList><objectProductionDateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></objectProductionDateGroup></objectProductionDateGroupList><contentConcepts/><assocEventPlaces/><assocActivityGroupList/><objectProductionReasons/><assocPlaceGroupList/><objectNameList/><styles/><materialGroupList/><assocObjectGroupList/><fieldCollectors/><responsibleDepartments/><textualInscriptionGroupList><textualInscriptionGroup><inscriptionContentScript/><inscriptionContentInscriber/><inscriptionContentTransliteration/><inscriptionContentType/><inscriptionContentDateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></inscriptionContentDateGroup><inscriptionContent/><inscriptionContentTranslation/><inscriptionContentInterpretation/><inscriptionContentPosition/><inscriptionContentLanguage/><inscriptionContentMethod/></textualInscriptionGroup></textualInscriptionGroupList><objectNumber>CLIENT.002</objectNumber><fieldColEventNames/><colors/><contentScripts/><objectProductionPlaceGroupList/><referenceGroupList/><assocDateGroupList><assocDateGroup><assocDateNote/><assocStructuredDateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></assocStructuredDateGroup><assocDateType/></assocDateGroup></assocDateGroupList><briefDescriptions/><contentLanguages/><recordStatus>new</recordStatus><assocPersonGroupList/><titleGroupList/><assocConceptGroupList/><usageGroupList/><assocCulturalContextGroupList/><otherNumberList/><objectProductionPeopleGroupList/><assocPeopleGroupList/><assocEventOrganizations/><contentPeoples/><namedCollections/><measuredPartGroupList/><contentObjectGroupList/><ownershipDateGroupList><ownershipDateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></ownershipDateGroup></ownershipDateGroupList><technicalAttributeGroupList/><nonTextualInscriptionGroupList><nonTextualInscriptionGroup><inscriptionDescriptionDateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></inscriptionDescriptionDateGroup><inscriptionDescription/><inscriptionDescriptionInscriber/><inscriptionDescriptionInterpretation/><inscriptionDescriptionPosition/><inscriptionDescriptionMethod/><inscriptionDescriptionType/></nonTextualInscriptionGroup></nonTextualInscriptionGroupList><assocEventPersons/><objectProductionPersonGroupList/><contentPersons/><fieldCollectionSources/><contentEventNameGroupList/><ownersReferences/><viewersReferences/><objectProductionOrganizationGroupList/><computedCurrentLocation>urn:cspace:indeterminate:locationauthorities:name(indeterminate):item:name(indeterminate)'~Indeterminate Location~'</computedCurrentLocation><publishToList><publishTo>urn:cspace:core.collectionspace.org:vocabularies:name(publishto):item:name(none)'None'</publishTo></publishToList><assocOrganizationGroupList/><contentOrganizations/><contentPlaces/><contentOtherGroupList/><contentDateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></contentDateGroup><objectStatusList/><objectComponentGroupList/><comments/><assocEventPeoples/><techniqueGroupList/><inventoryStatusList><inventoryStatus>urn:cspace:core.collectionspace.org:vocabularies:name(inventorystatus):item:name(unknown)'unknown'</inventoryStatus></inventoryStatusList><contentPositions/><forms/></ns2:collectionobjects_common><ns2:collectionobjects_annotation xmlns:ns2="http://collectionspace.org/services/collectionobject/domain/annotation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><annotationGroupList/></ns2:collectionobjects_annotation><ns2:account_permission xmlns:ns2="http://collectionspace.org/services/authorization"><account><accountId>d884e854-a10b-49c8-87e7-e7a900ffdc52</accountId><screenName>Administrator</screenName><userId>admin@core.collectionspace.org</userId><tenantId>1</tenantId></account></ns2:account_permission></document>
  recorded_at: Thu, 02 Sep 2021 14:35:08 GMT
recorded_with: VCR 6.0.0
