---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/vocabularies/urn:cspace:name(annotationtype)/items?as=vocabularyitems_common:displayName%20ILIKE%20%27Additional%20Taxa%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|rev|sourcePage|sas|proposed|referenced|deprecated|termStatus|description|source|order|displayName|shortIdentifier</fieldsReturned><list-item><csid>84c82c13-9d46-48a9-a8b9</csid><uri>/vocabularies/e1401111-05c2-4d6c-bdc5/items/84c82c13-9d46-48a9-a8b9</uri><refName>urn:cspace:core.collectionspace.org:vocabularies:name(annotationtype):item:name(additional_taxa)'additional
        taxa'</refName><updatedAt>2022-01-04T14:20:39.681Z</updatedAt><workflowState>project</workflowState><rev>1</rev><sas>false</sas><proposed>true</proposed><order>0000</order><displayName>additional
        taxa</displayName><shortIdentifier>additional_taxa</shortIdentifier></list-item></ns2:abstract-common-list>
  recorded_at: Thu, 21 Jul 2022 16:18:50 GMT
recorded_with: VCR 6.1.0
