---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/media?as=media_common:identificationNumber%20=%20%27DTS.1%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|identificationNumber|blobCsid|title</fieldsReturned><list-item><csid>35105147-4b82-45cb-835b</csid><uri>/media/35105147-4b82-45cb-835b</uri><refName>urn:cspace:core.collectionspace.org:media:id(35105147-4b82-45cb-835b)</refName><updatedAt>2022-07-21T16:13:06.489Z</updatedAt><workflowState>project</workflowState><identificationNumber>DTS.1</identificationNumber><blobCsid>6ad786fa-123b-4046-8f3e</blobCsid></list-item></ns2:abstract-common-list>
  recorded_at: Thu, 21 Jul 2022 16:30:47 GMT
[...]
- request:
    method: delete
    uri: https://core.dev.collectionspace.org/cspace-services/blobs/6ad786fa-123b-4046-8f3e?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 21 Jul 2022 16:30:48 GMT
- request:
    method: put
    uri: https://core.dev.collectionspace.org/cspace-services/media/35105147-4b82-45cb-835b?blobUri=https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png&pgSz=25&wf_deleted=false
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="media">
          <ns2:media_common xmlns:ns2="http://collectionspace.org/services/media" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <identificationNumber>DTS.1</identificationNumber>
          </ns2:media_common>
        </document>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="media"><ns2:collectionspace_core xmlns:ns2="http://collectionspace.org/collectionspace_core/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><createdAt>2021-10-22T01:56:13.994Z</createdAt><updatedBy>admin@core.collectionspace.org</updatedBy><createdBy>admin@core.collectionspace.org</createdBy><workflowState>project</workflowState><tenantId>1</tenantId><refName>urn:cspace:core.collectionspace.org:media:id(35105147-4b82-45cb-835b)</refName><uri>/media/35105147-4b82-45cb-835b</uri><updatedAt>2022-07-21T16:30:50.958Z</updatedAt></ns2:collectionspace_core><ns2:media_common xmlns:ns2="http://collectionspace.org/services/media" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><blobCsid>fa3c6988-9567-453b-b1d8</blobCsid><publishToList/><dateGroupList><dateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleCertainty/><dateEarliestSingleQualifierUnit/><dateDisplayDate/><dateLatestScalarValue/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleDay/><dateEarliestSingleQualifier/><dateEarliestSingleYear/><dateLatestCertainty/><dateAssociation/><dateLatestDay/><dateEarliestSingleMonth/><dateEarliestSingleEra/><dateLatestYear/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></dateGroup></dateGroupList><typeList/><languageList/><subjectList/><measuredPartGroupList/><relationList/><identificationNumber>DTS.1</identificationNumber></ns2:media_common></document>
  recorded_at: Thu, 21 Jul 2022 16:30:49 GMT
recorded_with: VCR 6.1.0
