---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/accounts/0/accountperms?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:account_permission
        xmlns:ns2="http://collectionspace.org/services/authorization"><account><accountId>f00e1c89-8874-471c-90e7-9a4a5fd93ae6</accountId><screenName>Administrator</screenName><userId>admin@core.collectionspace.org</userId><tenantId>1</tenantId></account><permission><permRelationshipId>14323</permRelationshipId><permissionId>1-_movements_*_workflow_lock-CRUDL</permissionId><resourceName>/movements/*/workflow/lock</resourceName><actionGroup>CRUDL</actionGroup></permission><permission><permRelationshipId>17760</permRelationshipId><permissionId>1-_deaccessions_*_workflow_delete-CRUDL</permissionId><resourceName>/deaccessions/*/workflow/delete</resourceName><actionGroup>CRUDL</actionGroup></permission><permission><permRelationshipId>13441</permRelationshipId><permissionId>1-_vocabularies_*_workflow_undelete-CRUDL</permissionId><resourceName>/vocabularies/*/workflow/undelete</resourceName><actionGroup>CRUDL</actionGroup></permission><p[...]
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/media?as=media_common:identificationNumber%20=%20%27DTS.1%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>1</itemsInPage><totalItems>1</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|identificationNumber|blobCsid|title</fieldsReturned><list-item><csid>2af9b15e-8318-4bfc-a746</csid><uri>/media/2af9b15e-8318-4bfc-a746</uri><refName>urn:cspace:core.collectionspace.org:media:id(2af9b15e-8318-4bfc-a746)</refName><updatedAt>2025-01-21T16:12:31.524Z</updatedAt><workflowState>project</workflowState><identificationNumber>DTS.1</identificationNumber><blobCsid>2fbdef99-9071-4420-a8cc</blobCsid></list-item></ns2:abstract-common-list>
  recorded_at: Tue, 21 Jan 2025 16:12:51 GMT
[...]
- request:
    method: delete
    uri: https://core.dev.collectionspace.org/cspace-services/blobs/2fbdef99-9071-4420-a8cc?pgSz=25&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 21 Jan 2025 16:12:52 GMT
- request:
    method: put
    uri: https://core.dev.collectionspace.org/cspace-services/media/2af9b15e-8318-4bfc-a746?blobUri=https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png&pgSz=25&wf_deleted=false
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="media">
          <ns2:media_common xmlns:ns2="http://collectionspace.org/services/media" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <identificationNumber>DTS.1</identificationNumber>
          </ns2:media_common>
        </document>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="media"><ns2:collectionspace_core xmlns:ns2="http://collectionspace.org/collectionspace_core/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><createdAt>2025-01-21T16:12:31.524Z</createdAt><updatedBy>admin@core.collectionspace.org</updatedBy><createdBy>admin@core.collectionspace.org</createdBy><workflowState>project</workflowState><tenantId>1</tenantId><refName>urn:cspace:core.collectionspace.org:media:id(2af9b15e-8318-4bfc-a746)</refName><uri>/media/2af9b15e-8318-4bfc-a746</uri><updatedAt>2025-01-21T16:12:53.279Z</updatedAt></ns2:collectionspace_core><ns2:media_common xmlns:ns2="http://collectionspace.org/services/media" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><blobCsid>cfeb02ff-b7e6-4b47-b4ec</blobCsid><publishToList/><dateGroupList><dateGroup><scalarValuesComputed>false</scalarValuesComputed><dateEarliestSingleQualifierUnit/><dateEarliestSingleCertainty/><dateLatestScalarValue/><dateDisplayDate/><dateEarliestSingleQualifierValue/><datePeriod/><dateLatestEra/><dateEarliestSingleQualifier/><dateEarliestSingleDay/><dateLatestCertainty/><dateEarliestSingleYear/><dateAssociation/><dateLatestDay/><dateEarliestSingleEra/><dateLatestYear/><dateEarliestSingleMonth/><dateLatestQualifierUnit/><dateNote/><dateLatestQualifierValue/><dateLatestQualifier/><dateEarliestScalarValue/><dateLatestMonth/></dateGroup></dateGroupList><checksumGroupList/><typeList/><languageList/><externalUrl>https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png</externalUrl><subjectList/><measuredPartGroupList/><relationList/><identificationNumber>DTS.1</identificationNumber></ns2:media_common></document>
  recorded_at: Tue, 21 Jan 2025 16:12:53 GMT
recorded_with: VCR 6.3.1
