---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/reports?pgSz=100&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>100</pageSize><itemsInPage>33</itemsInPage><totalItems>33</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|name|filename</fieldsReturned><list-item><csid>e10ae665-0a62-4a09-bddf</csid><uri>/reports/e10ae665-0a62-4a09-bddf</uri><refName>urn:cspace:core.collectionspace.org:reports:id(e10ae665-0a62-4a09-bddf)</refName><updatedAt>2025-05-08T06:29:43.443Z</updatedAt><workflowState>project</workflowState><name>Systematic
        Inventory</name><filename>systematicInventory.jrxml</filename></list-item><list-item><csid>9038c9bd-dbd0-4646-958f</csid><uri>/reports/9038c9bd-dbd0-4646-958f</uri><refName>urn:cspace:core.collectionspace.org:reports:id(9038c9bd-dbd0-4646-958f)</refName><updatedAt>2025-05-08T06:29:43.411Z</updatedAt><workflowState>project</workflowState><name>Group
        Basic List</name><filename>Group_List_Basic.jrxml</filename></list-item><list-item><csid>76d1ca6b-e151-4096-b5f0</csid><uri>/reports/76d1ca6b-e151-4096-b5f0</uri><refN[...]
- request:
    method: put
    uri: https://core.dev.collectionspace.org/cspace-services/reports/fa08ab06-d0f4-4666-9ca1?pgSz=25&wf_deleted=false
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" standalone="yes"?>
        <document name="report">
          <ns2:reports_common xmlns:ns2="http://collectionspace.org/services/report">
            <name>Exhibition Basic List</name>
            <notes>Catalog info for objects related to a exhibition record. Runs on a single record only.</notes>
            <forDocTypes>
              <forDocType>Exhibition</forDocType>
            </forDocTypes>
            <supportsSingleDoc>true</supportsSingleDoc>
            <supportsDocList>false</supportsDocList>
            <supportsGroup>false</supportsGroup>
            <supportsNoContext>false</supportsNoContext>
            <outputMIME>application/pdf</outputMIME>
            <filename>Exhibition_List_Basic.jrxml</filename>
          </ns2:reports_common>
        </document>
    headers:
      Content-Type:
      - application/xml
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <document name="reports"><ns2:collectionspace_core xmlns:ns2="http://collectionspace.org/collectionspace_core/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><createdAt>2025-03-04T19:49:01.196Z</createdAt><updatedBy>admin@core.collectionspace.org</updatedBy><createdBy>SPRING_ADMIN</createdBy><workflowState>project</workflowState><tenantId>1</tenantId><refName>urn:cspace:core.collectionspace.org:reports:id(fa08ab06-d0f4-4666-9ca1)</refName><uri>/reports/fa08ab06-d0f4-4666-9ca1</uri><updatedAt>2025-05-08T17:25:09.272Z</updatedAt></ns2:collectionspace_core><ns2:reports_common xmlns:ns2="http://collectionspace.org/services/report" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><notes>Catalog info for objects related to a exhibition record. Runs on a single record only.</notes><filename>Exhibition_List_Basic.jrxml</filename><forDocTypes><forDocType>Exhibition</forDocType></forDocTypes><supportsGroup>false</supportsGroup><name>Exhibition Basic List</name><supportsOutputMIMEList/><supportsSingleDoc>true</supportsSingleDoc><outputMIME>application/pdf</outputMIME><supportsDocList>false</supportsDocList><supportsNoContext>false</supportsNoContext><forRoles/><resourceActionGroupList/></ns2:reports_common></document>
  recorded_at: Thu, 08 May 2025 17:25:09 GMT
recorded_with: VCR 6.3.1
