---
http_interactions:
- request:
    method: get
    uri: https://core.dev.collectionspace.org/cspace-services/media?as=media_common:identificationNumber%20=%20%27DTS.dupes%27&pgSz=25&sortBy=collectionspace_core:updatedAt%20DESC&wf_deleted=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic YWRtaW5AY29yZS5jb2xsZWN0aW9uc3BhY2Uub3JnOkFkbWluaXN0cmF0b3I=
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/xml
    body:
      encoding: UTF-8
      string: <?xml version="1.0" encoding="UTF-8" standalone="yes"?><ns2:abstract-common-list
        xmlns:ns2="http://collectionspace.org/services/jaxb"><pageNum>0</pageNum><pageSize>25</pageSize><itemsInPage>2</itemsInPage><totalItems>2</totalItems><fieldsReturned>csid|uri|refName|updatedAt|workflowState|identificationNumber|blobCsid|title</fieldsReturned><list-item><csid>ad48120c-591a-4a00-9abb</csid><uri>/media/ad48120c-591a-4a00-9abb</uri><refName>urn:cspace:core.collectionspace.org:media:id(ad48120c-591a-4a00-9abb)</refName><updatedAt>2021-10-22T01:53:00.597Z</updatedAt><workflowState>project</workflowState><identificationNumber>DTS.dupes</identificationNumber></list-item><list-item><csid>519e1987-9627-4ccf-98a1</csid><uri>/media/519e1987-9627-4ccf-98a1</uri><refName>urn:cspace:core.collectionspace.org:media:id(519e1987-9627-4ccf-98a1)</refName><updatedAt>2021-10-22T01:52:51.548Z</updatedAt><workflowState>project</workflowState><identificationNumber>DTS.dupes</identificationNumber></list-item></ns2:abstract-common-list>
  recorded_at: Thu, 21 Jul 2022 16:30:47 GMT
recorded_with: VCR 6.1.0
